<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="myeclipse.connection.profile">mysql</property>
	<property name="connection.url">
		jdbc:mysql://localhost:3306/hibernate_advanced?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">Zp970321</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="format_sql">true</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="show_sql">true</property>
	<!-- 单向多对一的实体类对象映射文件 -->
	<mapping resource="manyToOne/student.hbm.xml"/>
	<mapping resource="manyToOne/teacher.hbm.xml"/>
	<!--双向多对一的实体类对象映射文件 -->
	<mapping resource="manyToOne2/teacher2.hbm.xml"/>
	<mapping resource="manyToOne2/student2.hbm.xml"/>
	<!-- 单向一对多的实体类对象映射文件 -->
	<mapping resource="oneToMany/student3.hbm.xml"/>
	<mapping resource="oneToMany/class3.hbm.xml"/>
	<!--单向一对一的实体类对象映射文件 -->
	<mapping resource="oneToOne/User.hbm.xml"/>
	<mapping resource="oneToOne/UserExt.hbm.xml"/>
	<!--双向一对一的实体类对象映射文件 -->
	<mapping resource="oneToOne2/User2.hbm.xml"/>
	<mapping resource="oneToOne2/UserExt2.hbm.xml"/>
	<!-- 单向多对多的实体类对象映射文件 -->
	<mapping resource="manyToMany/student5.hbm.xml"/>
	<mapping resource="manyToMany/course5.hbm.xml"/>
	<!-- 双向多对多的实体类对象映射文件 -->
	<mapping resource="manyToMany2/student4.hbm.xml"/>
	<mapping resource="manyToMany2/course4.hbm.xml"/>
</session-factory>
</hibernate-configuration>